.nw-appPanel-bar
    background-color: $g_color_primary;
    border-top: 1px solid $g_color_primary;


    &__inner
        border-top: 1px solid $g_color_primary;
        max-height: $g_appPanel-bar_height - 1px;
        min-height: $g_appPanel-bar_height - 1px;


    &--separated&--placement_top
        border-top-color: $g_separator_color--dark;


    &--separated&--placement_top &__inner
        border-top-color: $g_separator_color--light;
