@require './head'
@require './toolbar'


nw-appPanel-sidebar_border(side, enabled)
    border-{side}-width: enabled ? 1px : 0;


.nw-appPanel
    color: $g_color_primary_text;
    height: 100%;


    &__body
        flex: 1 0 auto;
        transition: left $g_transition_delay;


    &__crossbar
        background-color: $g_color_background;
        transition: left $g_transition_delay, right $g_transition_delay;


    // &__header-inner
    //     // background-color: $g_color_primary;
    //     border-left: 1px solid $g_color_primary;
    //     border-right: 1px solid $g_color_primary;
    //     border-bottom: 1px solid $g_separator_color--light;
    //     box-shadow: 0 0 14px alpha(#000, 36%);


    &__main
        background-color: $g_color_background;
        display: flex;
        flex-direction: column;
        // height: 100%;
        min-height: 100%;
        // position: relative;
        // transition: margin-left $g_transition_delay;


    &__sidebar
        @extend $b_greedy;
        display: block;
        position: fixed;
        width: 100%;


    &__sidebar&__sidebar--placement_left
        right: auto;
        transition: left $g_transition_delay, width $g_transition_delay, z-index $g_transition_delay;
        +above('s')
            // right: 0;
            width: auto;


    &__sidebar&__sidebar--placement_right
        left: auto;
        transition: right $g_transition_delay, width $g_transition_delay, z-index $g_transition_delay;
        +above('s')
            // left: 0;
            width: auto;


    &__sidebar-inner
        @extend $b_greedy;
        // background-color: $g_color_primary;
        background-color: $g_color_background;
        // background-color: $g_color_background--darker;
        // box-shadow: 0 0 14px alpha(#000, 36%);
        transition: left $g_transition_delay, width $g_transition_delay, z-index $g_transition_delay;


    &__sidebar-backdrop
        background-color: alpha($g_color_background, 0.81);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        +above('n')
            display: none;


    // ------------------------------------------------------------------------
    // 'header'
    //
    // App panel with header
    // ------------------------------------------------------------------------

    &--header &__crossbar
        // display: block;


    // ------------------------------------------------------------------------
    // 'layout'
    //
    // - pinned-header, head (header [+ top toolbars]) always visible
    // ------------------------------------------------------------------------

    &--layout_adjusted &__body
        flex:1;
        overflow-y: scroll


    &--layout_pinned &__crossbar
    &--layout_pinned-footer &__crossbar--placement_bottom
    &--layout_pinned-header &__crossbar--placement_top
        box-shadow: 0 0 14px alpha(#000, 36%);
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0
        z-index: $g_z-index_appPanel-head;


    &--layout_pinned &__crossbar--placement_bottom
    &--layout_pinned-footer &__crossbar--placement_bottom
        bottom: 0;


    &--layout_pinned &__crossbar--placement_top
    &--layout_pinned-header &__crossbar--placement_top
        top: 0;


    &--layout_pinned-header &__main
        // padding-top: $g_appPanel-head_height + 1; // 1px is a bottom border


    &--layout_static
        //


    //
    // ---
    //


    // &--header-pinned &__crossbar
    //     height: $g_appPanel-head_height + 16px;
    //     left: 0;
    //     overflow: hidden;
    //     position: fixed;
    //     right: 0
    //     top: 0;
    //     z-index: $g_z-index_appPanel-head;


    // &--header-pinned &__main
    //     padding-top: $g_appPanel-head_height + 1; // 1px is a bottom border


    // ++ adjusted
    // &--header-pinned&--adjusted &__footer
    //     z-index: $g_z-index_appPanel-head - 1;


    // ------------------------------------------------------------------------
    // 'leftSidebar'
    //
    // Have sidebar placed before (at left) content
    // ------------------------------------------------------------------------

    &--leftSidebar &__crossbar-inner
        border-left-color: $g_separator_color--dark;
    &--rightSidebar &__crossbar-inner
        border-right-color: $g_separator_color--dark;


    // ++ layout_pinned-header
    // When sidebar expanded and head is pinned then they must be at same level visually.
    &--leftSidebar&--layout_pinned-header &__sidebar
    &--rightSidebar&--layout_pinned-header &__sidebar
        +above('n')
            z-index: $g_z-index_appPanel-head;


    // ------------------------------------------------------------------------
    // 'leftSidebar-collapsed'
    //
    // Have left sidebar with sidebar's panel hidden
    // ------------------------------------------------------------------------

    &--leftSidebar-collapsed &__main
        +above('s')
            margin-left: 0;
    &--rightSidebar-collapsed &__main
        +above('s')
            margin-right: 0;


    &--leftSidebar-collapsed &__sidebar-backdrop
    &--rightSidebar-collapsed &__sidebar-backdrop
        display: none;


    // ------------------------------------------------------------------------
    // 'leftSidebar-size_normal'
    //
    // Have left sidebar with sidebar's panel width set to predefined value
    // ------------------------------------------------------------------------

    &--leftSidebar-size_normal &__main
        +above('n')
            margin-left: $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal &__main
        +above('n')
            margin-right: $g_appPanel--sidebar-size_normal + 1;

    &--leftSidebar-size_normal &__sidebar--placement_left
    &--rightSidebar-size_normal &__sidebar--placement_right
        width: $g_appPanel--sidebar-size_normal + 1;
        z-index: $g_z-index_appPanel-sidebar;

    &--leftSidebar-size_normal &__sidebar--placement_left &__sidebar-inner
    &--rightSidebar-size_normal &__sidebar--placement_right &__sidebar-inner
        +above('s')
            width: $g_appPanel--sidebar-size_normal + 1;
        +above('n')
            z-index: $g_z-index_appPanel-head;

    &--leftSidebar-size_normal &__sidebar--placement_left &__sidebar-inner
        +above('s')
            // border-right: 1px solid $g_separator_color--light;
            border-right: 1px solid $g_color_primary;
    &--rightSidebar-size_normal &__sidebar--placement_right &__sidebar-inner
        +above('s')
            // border-left: 1px solid $g_separator_color--light;
            border-left: 1px solid $g_color_primary;


    // ++ adjusted


    // ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__main
        +above('s')
            margin-left: 0;
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__main
        +above('s')
            margin-right: 0;

    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left &__sidebar-inner
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right &__sidebar-inner
        +above('s')
            width: 0;
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left &__sidebar-inner
        +above('s')
            nw-appPanel-sidebar_border(right, false);
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right &__sidebar-inner
        +above('s')
            nw-appPanel-sidebar_border(left, false);

    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
        +above('s')
            z-index: $g_z-index_appPanel-head;
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
        left: - 110%; // more then 100% to make box shadow not visible at left side of viewport
        +above('s')
            left: 0;
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
        right: - 110%; // more then 100% to make box shadow not visible at right side of viewport
        +above('s')
            right: 0;


    // ++ gutter-n
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal &__main
        +above('s')
            margin-left: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            margin-left: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal &__main
        +above('s')
            margin-right: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            margin-right: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;

    &--leftSidebar-size_normal&--leftSidebar-gutter_normal &__sidebar--placement_left
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal &__sidebar--placement_right
        +above('n')
            width: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;

    &--leftSidebar-size_normal&--leftSidebar-gutter_normal &__sidebar--placement_left &__sidebar-inner
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal &__sidebar--placement_right &__sidebar-inner
        +above('s')
            width: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;


    // ++ layout_pinned
    &--leftSidebar-size_normal&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            left: $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            right: $g_appPanel--sidebar-size_normal + 1;


    // ++ gutter-n ++ adjusted


    // ++ gutter-n ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__main
        +above('s')
            margin-left: $g_appPanel--sidebar-gutter_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__main
        +above('s')
            margin-right: $g_appPanel--sidebar-gutter_normal + 1;

    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__sidebar--placement_left &__sidebar-inner
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__sidebar--placement_right
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__sidebar--placement_right &__sidebar-inner
        +above('s')
            width: $g_appPanel--sidebar-gutter_normal + 1;
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__sidebar--placement_left &__sidebar-inner
        +above('s')
            nw-appPanel-sidebar_border(right, true);
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__sidebar--placement_right
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__sidebar--placement_right &__sidebar-inner
        +above('s')
            nw-appPanel-sidebar_border(left, true);


    // ++ gutter-n ++ layout_pinned
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            left: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            left: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            right: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            right: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;


    // ++ gutter-n ++ adjusted


    // ++ gutter-n ++ adjusted ++ collapsed


    // ++ gutter-n ++ adjusted ++ layout_pinned-header
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            left: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            right: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;


    // ++ layout_pinned-header ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            left: 0;
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            right: 0;


    // ++ gutter-n ++ layout_pinned-header ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            left: $g_appPanel--sidebar-gutter_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            right: $g_appPanel--sidebar-gutter_normal + 1;


    // ------------------------------------------------------------------------
    // 'topBar'
    //
    // Have top bar
    // ------------------------------------------------------------------------

    &--topBar
        //


    // ++ adjusted
    // &--topBar&--adjusted &__body
    //     top: $g_appPanel__header_height;


    // ++ header
    &--topBar&--header &__crossbar--placement_top
        //


    // ++ layout_pinned
    &--topBar&--header&--layout_pinned &__crossbar--placement_bottom
    &--topBar&--header&--layout_pinned-footer &__crossbar--placement_bottom
    &--topBar&--header&--layout_pinned &__crossbar--placement_top
    &--topBar&--header&--layout_pinned-header &__crossbar--placement_top
        height: $g_appPanel__header_height + $g_appPanel-bar_height + 16px;


    &--topBar&--layout_pinned-header &__main
        // padding-top: $g_appPanel__header_height + $g_appPanel-bar_height + 1px;


    // ------------------------------------------------------------------------
    // 'topBar-separated'
    //
    // Top bar is separated from header
    // ------------------------------------------------------------------------

    &--topBar-separated
        //
