@require './head'
@require './toolbar'


.nw-appPanel
    color: $g_color_primary_text;
    height: 100%;


    &__body
        flex: 1 0 auto;
        transition: left $g_transition_delay;


    &__crossbar
        background-color: $g_color_background;


    &__main
        background-color: $g_color_background;
        display: flex;
        flex-direction: column;
        min-height: 100%;


    &__sidebar
        @extend $b_greedy;
        background-color: $g_color_background;
        display: block;
        overflow: hidden;
        position: fixed;
        width: 100%;


    &__sidebar-backdrop
        background-color: alpha($g_color_background, 0.81);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        +above('n')
            display: none;


    // ------------------------------------------------------------------------
    // 'layout'
    // ------------------------------------------------------------------------

    &--layout_adjusted &__body
        flex: 1;
        overflow-y: scroll;
        position: relative;

    &--layout_adjusted &__main
        height: 100%;
        min-height: auto;


    &--layout_pinned &__crossbar
    &--layout_pinned-footer &__crossbar--placement_bottom
    &--layout_pinned-header &__crossbar--placement_top
        box-shadow: 0 0 14px alpha(#000, 36%);
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0
        z-index: $g_z-index_appPanel-head;


    &--layout_pinned &__crossbar--placement_bottom
    &--layout_pinned-footer &__crossbar--placement_bottom
        bottom: 0;


    &--layout_pinned &__crossbar--placement_top
    &--layout_pinned-header &__crossbar--placement_top
        top: 0;


    &--layout_static
        //


    // ------------------------------------------------------------------------
    // '(left|right)Sidebar'
    //
    // Have sidebar placed at (left|right) of content
    // ------------------------------------------------------------------------

    &--leftSidebar &__crossbar
        transition: left $g_transition_delay;

    &--rightSidebar &__crossbar
        transition: right $g_transition_delay;

    &--leftSidebar&--rightSidebar &__crossbar
        transition:
            left $g_transition_delay,
            right $g_transition_delay;


    &--leftSidebar &__sidebar--placement_left
        right: auto;
        transition:
            border-width $g_transition_delay,
            left $g_transition_delay,
            width $g_transition_delay,
            z-index $g_transition_delay;
        +above('s')
            width: auto;


    &--rightSidebar &__sidebar--placement_right
        left: auto;
        transition:
            border-width $g_transition_delay,
            right $g_transition_delay,
            width $g_transition_delay,
            z-index $g_transition_delay;
        +above('s')
            width: auto;


    // ++ layout_pinned-header
    // When sidebar expanded and crossbar is pinned then they must be at same level visually.
    &--leftSidebar&--layout_pinned &__sidebar
    &--leftSidebar&--layout_pinned-footer &__sidebar
    &--leftSidebar&--layout_pinned-header &__sidebar
    &--rightSidebar&--layout_pinned &__sidebar
    &--rightSidebar&--layout_pinned-footer &__sidebar
    &--rightSidebar&--layout_pinned-header &__sidebar
        +above('n')
            z-index: $g_z-index_appPanel-head;


    // ------------------------------------------------------------------------
    // '(left|right)Sidebar-collapsed'
    //
    // Have sidebar with sidebar's panel hidden
    // ------------------------------------------------------------------------

    &--leftSidebar-collapsed &__main
        +above('s')
            margin-left: 0;
    &--rightSidebar-collapsed &__main
        +above('s')
            margin-right: 0;


    &--leftSidebar-collapsed &__sidebar-backdrop
    &--rightSidebar-collapsed &__sidebar-backdrop
        display: none;


    // ------------------------------------------------------------------------
    // '(left|right)Sidebar-size_normal'
    //
    // Have sidebar with sidebar's panel width set to predefined value
    // ------------------------------------------------------------------------

    &--leftSidebar-size_normal &__main
        +above('n')
            margin-left: $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal &__main
        +above('n')
            margin-right: $g_appPanel--sidebar-size_normal + 1;

    &--leftSidebar-size_normal &__sidebar--placement_left
    &--rightSidebar-size_normal &__sidebar--placement_right
        width: $g_appPanel--sidebar-size_normal + 1;
        z-index: $g_z-index_appPanel-sidebar;

    &--leftSidebar-size_normal &__sidebar--placement_left
    &--rightSidebar-size_normal &__sidebar--placement_right
        +above('s')
            width: $g_appPanel--sidebar-size_normal + 1;
        +above('n')
            z-index: $g_z-index_appPanel-head;

    &--leftSidebar-size_normal &__sidebar--placement_left
        +above('s')
            border-right: 1px solid $g_color_primary;
    &--rightSidebar-size_normal &__sidebar--placement_right
        +above('s')
            border-left: 1px solid $g_color_primary;


    // ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__main
        +above('s')
            margin-left: 0;
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__main
        +above('s')
            margin-right: 0;

    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
        +above('s')
            width: 0;

    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
        +above('s')
            z-index: $g_z-index_appPanel-head;
    &--leftSidebar-size_normal&--leftSidebar-collapsed &__sidebar--placement_left
        left: - 110%; // more then 100% to make box shadow not visible at left side of viewport
        +above('s')
            left: 0;
    &--rightSidebar-size_normal&--rightSidebar-collapsed &__sidebar--placement_right
        right: - 110%; // more then 100% to make box shadow not visible at right side of viewport
        +above('s')
            right: 0;


    // ++ gutter-n
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal &__main
        +above('s')
            margin-left: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            margin-left: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal &__main
        +above('s')
            margin-right: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            margin-right: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;

    &--leftSidebar-size_normal&--leftSidebar-gutter_normal &__sidebar--placement_left
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal &__sidebar--placement_right
        +above('n')
            width: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;


    // ++ layout_pinned
    &--leftSidebar-size_normal&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            left: $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            right: $g_appPanel--sidebar-size_normal + 1;


    // ++ gutter-n ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__main
        +above('s')
            margin-left: $g_appPanel--sidebar-gutter_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__main
        +above('s')
            margin-right: $g_appPanel--sidebar-gutter_normal + 1;

    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed &__sidebar--placement_left
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed &__sidebar--placement_right
        +above('s')
            width: $g_appPanel--sidebar-gutter_normal + 1;


    // ++ gutter-n ++ layout_pinned
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            left: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            left: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            right: $g_appPanel--sidebar-gutter_normal + 1;
        +above('n')
            right: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;


    // ++ gutter-n ++ adjusted ++ layout_pinned-header
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layput_adjusted &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layput_adjusted &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layput_adjusted &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--layput_adjusted &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--adjusted&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            left: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_adjusted &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_adjusted &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_adjusted &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--layout_adjusted &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--adjusted&--layout_pinned-header &__crossbar--placement_top
        +above('n')
            right: $g_appPanel--sidebar-gutter_normal + $g_appPanel--sidebar-size_normal + 1;


    // ++ layout_pinned-header ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            left: 0;
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            right: 0;


    // ++ gutter-n ++ layout_pinned-header ++ collapsed
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--leftSidebar-size_normal&--leftSidebar-gutter_normal&--leftSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            left: $g_appPanel--sidebar-gutter_normal + 1;
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned-footer &__crossbar--placement_bottom
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned &__crossbar--placement_top
    &--rightSidebar-size_normal&--rightSidebar-gutter_normal&--rightSidebar-collapsed&--layout_pinned-header &__crossbar--placement_top
        +above('s')
            right: $g_appPanel--sidebar-gutter_normal + 1;
