.tabsWidgetPanel-tabContent
    min-height: 200px;
    padding: 16px;


    &--sidebar
        background-color: lighten($tabs-color-background, 3);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;


    &--layout_vertical
        min-height: 425px;
