.nw-radioInput
    nw-checkableInput: 'nw-radioInput';


    &--widget_icon &__label:before
        sprite($icon_radio);

    &--widget_icon&--checked &__label:before
        sprite($icon_radio_checked);
