# Repository rules

.idea
bak
node_modules
*.iml

# Package rules

/packages/nebula-widgets/public
/packages/nebula-widgets/src/main/sass/_sprites.sass
/packages/nebula-widgets/styles/icons.styl
/packages/nebula-widgets/styles/vendor/dist
