$tabs-color-background     = $g_color_background;
$tabs-color-background-alt = blend(alpha($g_color_primary, 0.32), $tabs-color-background);
$tabs-color-foreground     = $g_color_primary;
$tabs-color-text           = $g_color_primary_text;
$tabs-color-text-active    = $g_color_primary_text--active;
$tabs-color--highlighted   = alpha($tabs-color-foreground, 0.36);

$tabs-head-fontSize--size-l = $g_font_size;
$tabs-head-fontSize--size-n = $tabs-head-fontSize--size-l - 2;
$tabs-head-fontSize--size-s = $tabs-head-fontSize--size-n - 2;

$tabs--size-l = $g_size--l;
$tabs--size-n = $g_size--n;
$tabs--size-s = $g_size--s;

$tabs-tab-head-backgroundColor = $tabs-color-foreground;

$tabs-tab-head--size-l = $tabs--size-l - 1px;
$tabs-tab-head--size-n = $tabs--size-n - 1px;
$tabs-tab-head--size-s = $tabs--size-s - 1px;

$tabs-tab-head-icon-fontSize--size-l = $tabs-head-fontSize--size-l + 16px;
$tabs-tab-head-icon-fontSize--size-n = $tabs-head-fontSize--size-n + 16px;
$tabs-tab-head-icon-fontSize--size-s = $tabs-head-fontSize--size-s + 16px;
$tabs-tab-head-text-fontsize--size-l = $tabs-head-fontSize--size-l;
$tabs-tab-head-text-fontsize--size-n = $tabs-head-fontSize--size-n;
$tabs-tab-head-text-fontsize--size-s = $tabs-head-fontSize--size-s;

$tabs-tab-head--active--backgroundColor = $tabs-color-foreground;
$tabs-tab-head--active--borderTopColor  = $g_color_accent;

$tabs-tab-head--disabled--backgroundColor = $tabs-color-foreground;
$tabs-tab-head--disabled--color           = $tabs-color-foreground;

$tabs-tab-separator-backgroundColor = tint($tabs-color-background, 2%);

$tabs--collapsed--tab-separator-backgroundColor = $color-separator-light;

$tabs--sidebar-n         = $g_appPanel--sidebar-size_normal;
$tabs--sidebar-n--gutter = $g_size--n;


.nw-tabs
    // background-color: $tabs-color-background;
    display: flex;
    flex-direction: column;
    position: relative;


    &__body
        // background-color: $tabs-color-foreground;
        // border: 1px solid $tabs-color-foreground;
        border: solid $tabs-color-foreground;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-width: 0 1px 1px 1px;
        position: relative;


    // Button rendered using <BUTTON> or <A> tags.
    &__button
        font-size: $tabs-tab-head-icon-fontSize--size-n - 10;
        display: flex;
        text-align: center;


    &__button-inner
        background-color: transparent;
        // border: 1px solid $tabs-color-foreground;
        border: none;
        border-radius: 2px;
        outline: none;
        width: 100%;

        // &:hover
        //     // background-color: transparentify($tabs-color-text, $tabs-color-background, 5%);
        //     // background-color: transparentify($tabs-color-foreground, $tabs-color-background, 15%);
        //     background-color: alpha($tabs-color-foreground, 0.36);


    &__button--active &__button-inner
        background-color: $tabs-color--highlighted;


    &__button--disabled &__button-inner
        border-color: $tabs-color--highlighted;
        color: @border-color;


    &__button:not(&__button--disabled) &__button-inner:hover
        background-color: $tabs-color--highlighted;


    // &__button-inner
    //     background-color: inherit;
    //     border: none;
    //     font-size: $tabs-tab-head-icon-fontSize--size-n - 10;
    //     line-height: $tabs--size-n - (2 * 2);
    //     max-width: $tabs--size-n - (2 * 2);
    //     outline: none;
    //     padding: 0;
    //     // transition: color 500ms, transform 500ms;
    //     width: @max-width;

    //     &:hover
    //         color: $tabs-color-text-active;


    &__button--rotated &__button-inner
        transform: rotate(180deg);


    &__buttons
        // align-items: center;
        display: flex;
        // justify-content: center;
        // width: inherit;


    &__head
        // background-color: $tabs-color-background;
        border: solid $tabs-color-foreground;
        border-width: 0 0 1px 0;
        color: $tabs-color-text;
        display: flex;
        font-size: $tabs-head-fontSize--size-n;
        text-transform: uppercase;
        // transition: background-color 500ms;
        width: 100%;


    &__list
        display: flex;
        // list-style-type: none;
        // margin: 0;
        // padding: 0;


    &__listContainer
        display: flex;

    // Tab rendered using <BUTTON> or <A> tags.
    &__tab-head
        align-items: center;
        // border-color: red;
        // border-color: $color-primary;
        border: solid transparent;
        color: inherit;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        outline: none;
        position: relative;
        // text-align: center;
        text-decoration: none;
        // TODO Transition of border collor cause border to flash when active tab changed.
        // transition: background-color 500ms, border-left-color 500ms, border-right-color 500ms, border-top-color 500ms, color 500ms;
        // transition: background-color 500ms, color 500ms;
        // transition: background-color 500ms, border-color 500ms, color 500ms;

    &__tab-head-spacer
        // bottom: -1px;
        // height: 1px;
        // left: 0;
        position: absolute;
        // right: 0;
        z-index: 10;


    &:not(&--collapsed) &__tab-head:not(&__tab-head--active):not(&__tab-head--disabled):hover
        // background-color: $tabs-color-background-alt;


    &__tab-head-icon
        // line-height: 1;
        font-size: $tabs-tab-head-icon-fontSize--size-n;

        &:first-child
            padding-left: 16px;

        &:last-child
            padding-right: 16px;


    &__tab-head-text
        // color: inherit;
        font-size: $tabs-tab-head-text-fontsize--size-n;
        text-decoration: none;

        &:first-child
            padding-left: 16px;

        &:last-child
            padding-right: 16px;


    &__tab-head--active
        border-color: $tabs-color-foreground;
        // background-color: $tabs-tab-head--active--backgroundColor;
        // color: $tabs-color-text-active;


    &__tab-head--active &__tab-head-spacer
        background-color: $tabs-color-background;


    &__tab-head--disabled
        color: $tabs-tab-head--disabled--color;
        cursor: default;


    &__title
        color: $tabs-color-text-active;
        display: block;

    &__body
        //


    &__tab-body
        // background-color: $tabs-color-foreground;
        height: 0;
        opacity: 0;
        overflow: hidden;
        // transition: opacity 200ms;


    &__tab-body--active
        height: auto;
        opacity: 1;
        // transition: opacity 550ms 50ms;


    // ------------------------------------------------------------------------
    // Collapsed
    //
    // Tabs component with body hidden
    // ------------------------------------------------------------------------

    // Collapsed Tabs component have its head flattened.
    &--collapsed > &__head
        background-color: $tabs-color-foreground;


    // ------------------------------------------------------------------------
    // Adjusted
    //
    // Tabs component that adjusts to parent container size
    // ------------------------------------------------------------------------

    // Stretch elements to fit parent size.
    // &--adjusted
    // &--adjusted > &__body
    // &--adjusted > &__body > &__tab-body
    //     @extend $b_greedy;
    //
    // &--adjusted > &__head
    //     left: 0;
    //     height: $tabs--size-n;
    //     overflow: hidden;
    //     position: absolute;
    //     top: 0;


    // ?? Overlap sidebar's shadow.
    // &--adjusted > &__head
    //     z-index: 2;


    // ------------------------------------------------------------------------
    // Horizontal
    //
    // Tabs body placed below head
    // ------------------------------------------------------------------------

    &--layout_horizontal > &__head
        // clearfix();


    &--layout_horizontal > &__head &__button
        margin-right: 4px;
        max-width: $tabs--size-n - 8;
        min-width: @max-width;
        width: @max-width;

        &:last-child
            margin-right: 0;
        // display: inline-block;
        // width: @line-height;


    &--layout_horizontal > &__head &__buttons
        height: $tabs--size-n;
        max-height: @height;
        min-height: @height;
        padding: 4px 0;

    &--layout_horizontal > &__head &__buttons--group_after
        margin-left: 4px;

    &--layout_horizontal > &__head &__buttons--group_end
        margin-left: 4px;

    &--layout_horizontal > &__head &__buttons--group_start
        margin-right: 4px;

    &--layout_horizontal > &__head &__buttons--group_before
        margin-right: 4px;


    &--layout_horizontal > &__head &__tab-head
        border-width: 1px 1px 0 1px;
        // border-left: 1px solid $tabs-tab-separator-backgroundColor;
        // float: left;
        height: $tabs--size-n;
        // padding: 1px 1px 1px 0;

        &:last-child
            // border-right: 1px solid $tabs-tab-separator-backgroundColor;
            padding-right: 0;


    // ?? On mouse over effect for inactive and not disabled tabs.
    // &--layout_horizontal &__tab-head:not(&__tab-head--active):not(&__tab-head--disabled):hover
    //     border-top: 1px solid $tabs-color-hovered-tab-marker;


    &--layout_horizontal > &__head &__tab-head--active
        // border-left-width: 0;
        // border-top: 1px solid $tabs-tab-head--active--borderTopColor;
        // padding-left: 1px;
        // border-color: $tabs-color-foreground;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        // padding-top: 0;

    &--layout_horizontal > &__head &__tab-head-icon
        //

        // display: inline-block;
        // line-height: $tabs--size-n - 2;
        // padding: 0 4px;
        // vertical-align: middle;

        // &:first-child
        //     padding-left: 15px;

        // &:last-child
        //     padding-right: 15px;

    &--layout_horizontal > &__head &__tab-head-spacer
        bottom: -1px;
        height: 1px;
        left: 0;
        right: 0;

    &--layout_horizontal > &__head &__tab-head-text
        //

    // &--layout_horizontal > &__head &__tab-head-icon:first-child
    // &--layout_horizontal > &__head &__tab-head-text:first-child
    //     padding-left: 16px;
    //     padding-right: @padding-left;

    // &--layout_horizontal > &__head &__tab-head-icon:last-child
    // &--layout_horizontal > &__head &__tab-head-text:last-child
    //     // padding-right: 23px;


    // &--layout_horizontal > &__head &__tab-head-icon
    //     // line-height: $tabs--size-n - 2;
    //     // vertical-align middle


    // ??
    // &--layout_horizontal > &__head &__title
    //     height: inherit;


    &--layout_horizontal &__list
        // float: left;


    &--layout_horizontal &__list--right
        // float: right;


    &--layout_horizontal &__listContainer--position_end
        margin-left: auto;

    &--layout_horizontal &__listContainer--position_start
        margin-right: auto;


    &--layout_horizontal &__title
        padding: 1px 16px;

    &--layout_horizontal &__title--placement_after
        // float: right;

    &--layout_horizontal &__title--placement_before
        // float: left;

    // &--layout_horizontal&--adjusted
    // &--layout_horizontal&--adjusted > &__body
    // &--layout_horizontal&--adjusted > &__body > &__tab-body
    //     @extend $b_greedy;


    // &--layout_horizontal&--adjusted > &__body
    //     top: $tabs--size-n;


    // &--layout_horizontal&--adjusted > &__head
    //     left: 0;
    //     height: $tabs--size-n;
    //     overflow: hidden;
    //     position: absolute;
    //     top: 0;


    // Light border between tab heads in collapsed Tabs component.
    &--layout_horizontal&--collapsed > &__head &__tab-head
        // border-left: 1px solid $tabs--collapsed--tab-separator-backgroundColor;
        padding-left: 0;

        &:last-child
            // border-right: 1px solid $tabs--collapsed--tab-separator-backgroundColor;
            padding-right: 0;


    &--layout_horizontal&--size_normal &__title
        // line-height: $tabs-tab-head--size-n - 1; // 2px reserved for padding for size to be consitent with tab's head size

    // ------------------------------------------------------------------------
    // ?? As sidebar base.
    // ------------------------------------------------------------------------

    // &--sidebar&--collapsed > &__body
    //     left - $container-sidebar-panel-width
    //
    //
    // &--tab-size_large &__tab-head
    //     font-size: $tab-font-size + 2;
    //
    //
    // &--tab-size_large&--layout_horizontal &__tab-head-icon
    // &--tab-size_large&--layout_horizontal &__tab-head-text
    //     display: inline-block;
    //     padding: 0 10px 0 23px;
    //
    //     &:first-child
    //         padding-left: 23px;
    //
    //     &:last-child
    //         padding-right: 23px;
    //
    //
    // &--tab-size_small &__tab-head
    //     font-size: $tab-font-size - 2;


    // ------------------------------------------------------------------------
    // Vertical
    //
    // Tabs body place right aside head
    // ------------------------------------------------------------------------

    &--layout_vertical
        flex-direction: row;
        // transition: width 500ms;


    &--layout_vertical > &__body
        border-width: 1px 1px 1px 0;
        flex: 1 1 auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        // left: $tabs--size-n;
        // top: 0;
        // transition: left 500ms, opacity 500ms 50ms; // expand transitions
        // transition: left 500ms;


    &--layout_vertical&--collapsed > &__body
        // opacity: 0;


    &--layout_vertical > &__head
        border-width: 0 1px 0 0;
        flex: none;
        flex-direction: column;
        width: auto;
        // width: $tabs--size-n;
        // z-index: 100;


    &--layout_vertical > &__head &__button
        //


    &--layout_vertical > &__head &__button
        height: $tabs--size-n - 8;
        margin-bottom: 4px;
        max-height: @height;
        min-height: @height;

        &:last-child
            margin-bottom: 0;


    &--layout_vertical > &__head &__buttons
        flex-direction: column;
        padding: 0 4px;

    &--layout_vertical > &__head &__buttons--group_after
        margin-top: 4px;

    &--layout_vertical > &__head &__buttons--group_end
        margin-top: 4px;

    &--layout_vertical > &__head &__buttons--group_start
        margin-bottom: 4px;

    &--layout_vertical > &__head &__buttons--group_before
        margin-bottom: 4px;


    &--layout_vertical > &__head &__list
        flex-direction: column;
        margin-right: 0;


    &--layout_vertical > &__head &__listContainer
        flex-direction: column;

    &--layout_vertical &__listContainer--position_end
        margin-top: auto;

    &--layout_vertical &__listContainer--position_start
        margin-bottom: auto;



    &--layout_vertical > &__head &__tab-head
        // border-top: 1px solid $tabs-tab-separator-backgroundColor;
        // padding: 0 1px 1px 1px;
        border-width: 1px 0 1px 1px;
        // flex: none;
        height: $tabs--size-n;

        &:last-child
            // border-bottom: 1px solid $tabs-tab-separator-backgroundColor;
            // padding-bottom: 0;


    // ?? On mouse over effect for inactive and not disabled tabs.
    // &--layout_vertical&--collapsed > &__head &__tab-head:not(&__tab-head--active):not(&__tab-head--disabled)
    //     border-left-color $tabs-color-active-tab-background

    // ??
    // &--layout_vertical > &__head &__tab-head:not(&__tab-head--active):not(&__tab-head--disabled):hover
    //     border-left-color $tabs-color-hovered-tab-marker


    &--layout_vertical > &__head &__tab-head--active
        // border-left: 1px solid $tabs-tab-head--active--borderTopColor;
        // border-top: none;
        // border-top: 0 solid $color-primary;
        // padding-left: 0;
        // padding-top: 1px;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        border-width: 1px 0 1px 1px;


    &--layout_vertical > &__head &__tab-head-icon
        //

    &--layout_vertical > &__head &__tab-head-spacer
        bottom: 0;
        right: -1px;
        top: 0;
        width: 1px;

    &--layout_vertical > &__head &__tab-head-text
        //

        // display: block;
        // padding: 0 0 9px 0;

        // &:first-child
            // padding-top: 13px;

        // &:last-child
            // padding-bottom: 13px;


    &--layout_vertical > &__head &__tab-head-text
        // font-size: $tabs-head-fontSize--size-n - 4;

    // &--layout_vertical&--adjusted
    // &--layout_vertical&--adjusted > &__body
    // &--layout_vertical&--adjusted > &__body > &__tab-body
    // &--layout_vertical&--adjusted > &__head
    //     @extend $b_greedy;


    // &--layout_vertical&--adjusted > &__body
    //     left: $tabs--size-n;


    // &--layout_vertical&--adjusted > &__head
    //     right: $tabs--size-n;


    // Light border between tab heads in collapsed Tabs component.
    &--layout_vertical&--collapsed > &__head &__tab-head
        // border-top: 1px solid $tabs--collapsed--tab-separator-backgroundColor;
        // border-top: 1px solid transparent;
        padding-top: 0;

        &:last-child
            // border-bottom: 1px solid $tabs--collapsed--tab-separator-backgroundColor;
            // border-bottom: 1px solid transparent;
            // border-bottom: 1px solid $color-primary;
            padding-bottom: 0;


    // &--layout_vertical&--sidebar_normal
    //     width: $tabs--sidebar-n + $tabs--sidebar-n--gutter;


    // &--layout_vertical&--sidebar_normal &__body
    //     width: $tabs--sidebar-n;


    // &--layout_vertical&--sidebar_normal&--collapsed
    //     width: $tabs--sidebar-n--gutter;

    // &--layout_vertical&--sidebar_normal&--collapsed &__body
    //     left: $tabs--sidebar-n--gutter - $tabs--sidebar-n;
