$tabs-color-background     = $g_color_background;
$tabs-color-background-alt = blend(alpha($g_color_primary, 0.32), $tabs-color-background);
$tabs-color-foreground     = $g_color_primary;
$tabs-color-text           = $g_color_primary_text;
$tabs-color-text-active    = $g_color_primary_text--active;

$tabs-head-fontSize--size-l = $g_font_size;
$tabs-head-fontSize--size-n = $tabs-head-fontSize--size-l - 2;
$tabs-head-fontSize--size-s = $tabs-head-fontSize--size-n - 2;

$tabs--size-l = $g_size--l;
$tabs--size-n = $g_size--n;
$tabs--size-s = $g_size--s;

$tabs-tab-head-backgroundColor = $tabs-color-foreground;

$tabs-tab-head--size-l = $tabs--size-l - 1px;
$tabs-tab-head--size-n = $tabs--size-n - 1px;
$tabs-tab-head--size-s = $tabs--size-s - 1px;

$tabs-tab-head-icon-fontSize--size-l = $tabs-head-fontSize--size-l + 16px;
$tabs-tab-head-icon-fontSize--size-n = $tabs-head-fontSize--size-n + 16px;
$tabs-tab-head-icon-fontSize--size-s = $tabs-head-fontSize--size-s + 16px;
$tabs-tab-head-text-fontsize--size-l = $tabs-head-fontSize--size-l;
$tabs-tab-head-text-fontsize--size-n = $tabs-head-fontSize--size-n;
$tabs-tab-head-text-fontsize--size-s = $tabs-head-fontSize--size-s;

$tabs-tab-head--active--backgroundColor = $tabs-color-foreground;
$tabs-tab-head--active--borderTopColor  = $g_color_accent;

$tabs-tab-head--disabled--backgroundColor = $tabs-color-foreground;
$tabs-tab-head--disabled--color           = $tabs-color-foreground;

$tabs-tab-separator-backgroundColor = tint($tabs-color-background, 2%);

$tabs--collapsed--tab-separator-backgroundColor = $color-separator-light;

$tabs--sidebar-n               = $g_appPanel--sidebar-size_normal;
$tabs--sidebar-n--gutter       = $g_size--n;
$tabs--sidebar-gutter-bg-color = $g_color_background--darker;


// --

$tabs-borderColor            = rgb(96, 102, 111);
$tabs-color                  = $tabs-borderColor;
$tabs-color--active          = $g_color_primary_text;
$tabs-color--highlighted     = rgb(52, 61, 74);

$tabs_tab-color              = rgb(100, 107, 117);


$tabs_button-backgroundColor            = $tabs-color--highlighted;
$tabs_button-borderColor                = $tabs-borderColor;
$tabs_button-color                      = $tabs_tab-color;
$tabs_button--active-color              = $tabs-color--active;


// --

$tabs_head-backgroundColor          = $g_color_background--darker;
$tabs_head-backgroundColor--lighten = lighten($tabs_head-backgroundColor, 1);

$tabs_body-backgroundColor = $g_color_background;

$tabs_button-backgroundColor            = $tabs_head-backgroundColor;
$tabs_button-backgroundColor--disabled  = mix($tabs_button-backgroundColor, $tabs-color-background, 45%);
$tabs_button-backgroundColor--highlited = darken($tabs_head-backgroundColor, 1.36);
$tabs_button--disabled-color            = lighten($tabs_head-backgroundColor, 2.99);

$tabs_tab-head--active-borderColor = $g_color_accent;


.nw-tabs
    display: flex;
    flex-direction: column;
    position: relative;


    &__body
        border: solid $tabs_head-backgroundColor;
        position: relative;


    // Button rendered using <BUTTON> or <A> tags.
    &__button
        color: $tabs_tab-color;
        font-size: $tabs-tab-head-icon-fontSize--size-n - 12;
        display: flex;
        text-align: center;


    &__button-inner
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 2px;
        outline: none;
        width: 100%;


    &__button--active &__button-inner
        background-color: $tabs_button-backgroundColor--highlited;
        color: $tabs_button--active-color;


    &__button--disabled &__button-inner
        color: $tabs_button--disabled-color;


    &__button:not(&__button--disabled) &__button-inner:hover
        background-color: $tabs_button-backgroundColor--highlited;
        color: $tabs_button--active-color;


    &__button--rotated &__button-inner
        transform: rotate(180deg);


    &__buttonGroup
        display: flex;


    &__head
        background-color: $tabs_head-backgroundColor;
        display: flex;
        font-size: $tabs-head-fontSize--size-n;
        text-transform: uppercase;
        width: 100%;


    &__list
        display: flex;


    &__listContainer
        display: flex;


    // Tab rendered using <BUTTON> or <A> tags.
    &__tab-head
        align-items: stretch;
        border: solid transparent;
        color: $tabs-color;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        outline: none;
        position: relative;
        text-decoration: none;

    &__tab-head--active
        background-color: $tabs_body-backgroundColor;
        border-color: $tabs_body-backgroundColor; // make active tab separating edge (left|top) sharp
        color: $tabs-color-text;

    &__tab-head--disabled
        color: $tabs-tab-head--disabled--color;
        cursor: default;


    &__tab-head-icon
        font-size: $tabs-tab-head-icon-fontSize--size-n - 10;

        &:first-child
            padding-left: 16px;

        &:first-child:not(:last-child)
            padding-right: 8px;

        &:last-child
            padding-right: 16px;


    &__tab-head-inner
        align-items: center;
        display: flex;


    &__tab-head-text
        font-size: $tabs-tab-head-text-fontsize--size-n;
        text-decoration: none;

        &:first-child
            padding-left: 16px;

        &:last-child
            padding-right: 16px;


    &__tab-body
        height: 0;
        opacity: 0;
        overflow: hidden;


    &__tab-body--active
        height: auto;
        opacity: 1;


    &__title
        color: $tabs-color-text-active;
        display: block;


    // ------------------------------------------------------------------------
    // Collapsed
    //
    // Tabs component with body hidden
    // ------------------------------------------------------------------------

    // Collapsed Tabs component have its head flattened
    &--collapsed > &__head
        background-color: $tabs-color-foreground;


    // ------------------------------------------------------------------------
    // Adjusted
    //
    // Tabs component that adjusts to parent container size
    // ------------------------------------------------------------------------

    // Stretch elements to fit parent size.
    // &--adjusted
    // &--adjusted > &__body
    // &--adjusted > &__body > &__tab-body
    //     @extend $b_greedy;
    //
    // &--adjusted > &__head
    //     left: 0;
    //     height: $tabs--size-n;
    //     overflow: hidden;
    //     position: absolute;
    //     top: 0;


    // ?? Overlap sidebar's shadow.
    // &--adjusted > &__head
    //     z-index: 2;


    // ------------------------------------------------------------------------
    // Horizontal
    //
    // Tabs body placed below head
    // ------------------------------------------------------------------------


    &--layout_horizontal > &__body
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-width: 0 1px 1px 1px;


    &--layout_horizontal > &__head &__button
        margin-right: 4px;
        max-width: $tabs--size-n - 8;
        min-width: @max-width;
        width: @max-width;

        &:last-child
            margin-right: 0;


    &--layout_horizontal > &__head &__buttonGroup
        height: $tabs--size-n;
        max-height: @height;
        min-height: @height;
        padding: 4px 0;

    &--layout_horizontal > &__head &__buttonGroup &__button
        &:first-child
            margin-left: 4px;
        &:last-child
            margin-right: 4px;


    &--layout_horizontal > &__head &__listContainer--position_end
        margin-left: auto;

    &--layout_horizontal > &__head &__listContainer--position_end &__list--lastChild
        padding-right: 1px;

    &--layout_horizontal > &__head &__listContainer--position_end &__list--lastChild &__tab-head:not(&__tab-head--active)
        border-right-color: $tabs_head-backgroundColor;

    &--layout_horizontal > &__head &__listContainer--position_start
        margin-right: auto;

    &--layout_horizontal > &__head &__listContainer--position_start &__list--firstChild
        padding-left: 1px;

    &--layout_horizontal > &__head &__listContainer--position_start &__list--firstChild &__tab-head:first-child:not(&__tab-head--active)
        border-left-color: $tabs--sidebar-gutter-bg-color;


    &--layout_horizontal > &__head &__tab-head
        border-width: 1px 1px 0 1px;
        height: $tabs--size-n;

    &--layout_horizontal > &__head &__tab-head:not(&__tab-head--active)
        border-left-color: $tabs_head-backgroundColor--lighten;

    &--layout_horizontal > &__head &__tab-head--active
        border-top-color: $tabs_tab-head--active-borderColor;

    // Make border of tab adjusent to active tab more sharp
    &--layout_horizontal > &__head &__tab-head--active + &__tab-head
        border-left-color: $tabs_head-backgroundColor;

    &--layout_horizontal > &__head &__tab-head:last-child
        padding-right: 0;

    &--layout_horizontal > &__head &__tab-head:last-child:not(&__tab-head--active)
        border-right-color: $tabs_head-backgroundColor--lighten;

    &--layout_horizontal &__title
        padding: 1px 16px;


    // ------------------------------------------------------------------------
    // Vertical
    //
    // Tabs body placed right aside head
    // ------------------------------------------------------------------------

    &--layout_vertical
        flex-direction: row;


    &--layout_vertical > &__body
        border-width: 1px 1px 1px 0;
        flex: 1 1 auto;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        border-width: 1px 1px 1px 0;


    &--layout_vertical > &__head
        flex: none;
        flex-direction: column;
        width: auto;


    &--layout_vertical > &__head &__button
        height: $tabs--size-n - 8;
        margin-bottom: 4px;
        max-height: @height;
        min-height: @height;

        &:last-child
            margin-bottom: 0;


    &--layout_vertical > &__head &__buttonGroup
        flex-direction: column;
        padding: 0 4px;

    &--layout_vertical > &__head &__buttonGroup &__button
        &:first-child
            margin-top: 4px;
        &:last-child
            margin-bottom: 4px;


    &--layout_vertical > &__head &__list
        flex-direction: column;
        margin-right: 0;


    &--layout_vertical > &__head &__listContainer
        flex-direction: column;

    &--layout_vertical > &__head &__listContainer--position_end
        margin-top: auto;

    &--layout_vertical > &__head &__listContainer--position_end &__list--lastChild
        padding-bottom: 1px;

    &--layout_vertical > &__head &__listContainer--position_end &__list--lastChild &__tab-head:not(&__tab-head--active)
        border-bottom-color: $tabs_head-backgroundColor;

    &--layout_vertical > &__head &__listContainer--position_start
        margin-bottom: auto;

    &--layout_vertical > &__head &__listContainer--position_start &__list--firstChild
        padding-top: 1px;

    &--layout_vertical > &__head &__listContainer--position_start &__list--firstChild &__tab-head:first-child:not(&__tab-head--active)
        border-top-color: $tabs--sidebar-gutter-bg-color;


    &--layout_vertical > &__head &__tab-head
        border-width: 1px 0 1px 1px;
        justify-content: center;
        height: $tabs--size-n;

    &--layout_vertical > &__head &__tab-head:not(&__tab-head--active)
        border-top-color: $tabs_head-backgroundColor--lighten;

    &--layout_vertical > &__head &__tab-head--active
        border-left-color: $tabs_tab-head--active-borderColor;

    // Make border of tab adjusent to active tab more sharp
    &--layout_vertical > &__head &__tab-head--active + &__tab-head
        border-top-color: $tabs_head-backgroundColor;

    &--layout_vertical > &__head &__tab-head:last-child
        padding-bottom: 0;

    &--layout_vertical > &__head &__tab-head:last-child:not(&__tab-head--active)
        border-bottom-color: $tabs_head-backgroundColor--lighten;


    // ------------------------------------------------------------------------
    // ?? As sidebar base.
    // ------------------------------------------------------------------------

    &--sidebar_normal
        width: $tabs--sidebar-n + $tabs--sidebar-n--gutter;


    &--sidebar_normal > &__body
        border-color: transparent;


    &--sidebar_normal > &__head
        background-color: $tabs--sidebar-gutter-bg-color;
        border-width: 0;
        width: $tabs--sidebar-n--gutter;


    &--sidebar_normal > &__head &__button
        color: alpha($tabs-color-text, 0.27);

        &:hover
            color: alpha($tabs-color-text, 0.45);


    &--sidebar_normal > &__head &__button--active &__button-inner
        background-color: alpha($tabs-color--highlighted, 0.18);

    &--sidebar_normal > &__head &__button:not(&__button--disabled) &__button-inner:hover
        background-color: alpha($tabs-color--highlighted, 0.18);


    &--sidebar_normal > &__head &__buttonGroup--placement_after &__button:first-child
        margin-bottom: 4px;

    &--sidebar_normal > &__head &__buttonGroup--placement_before &__button:first-child
        margin-top: 4px;

    &--sidebar_normal > &__head &__buttonGroup--placement_end &__button:first-child
        margin-bottom: 4px;

    &--sidebar_normal > &__head &__buttonGroup--placement_start &__button:first-child
        margin-top: 4px;


    &--sidebar_normal > &__head &__listContainer--position_end &__list--firstChild
        margin-top: 56px;


    &--sidebar_normal > &__head &__listContainer--position_start &__list--lastChild
        margin-bottom: 56px;


    &--sidebar_normal > &__head &__listContainer--position_start &__tab-head:first-child
        border-top-width: 0;


    &--sidebar_normal > &__head &__tab-head
        border-radius: 0;
        border-top-color: lighten($tabs--sidebar-gutter-bg-color, 1);
        border-left-color: $tabs--sidebar-gutter-bg-color;
        border-width: 1px 0 0 1px;
        color: alpha($tabs-color-text, 0.27);
        justify-content: center;

    &--sidebar_normal > &__head &__tab-head--active
        background-color: $tabs-color-background;
        border-color: $tabs-color-background;
        border-left-color: $tabs-tab-head--active--borderTopColor;
        color: $tabs-color-text;

    &--sidebar_normal > &__head &__tab-head:not(&__tab-head--active)
        &:hover
            color: alpha($tabs-color-text, 0.45);


    &--sidebar_normal > &__head &__tab-head-icon
        padding: 0;
