.markdown
    code
        background-color: darken($g_color_background, 8%);
        border: 1px solid mix($g_color_primary_text, $g_color_background, 10%);
        border-radius: 2px;


    p
        margin: 0;
        padding: 16px 0;


        code
            padding: 2px 4px 2px 2px;


    pre
        margin: 12px 0;
