$manPage-title-color = $g_color_primary_text--darker;


@require './example';
@require './interactiveExample';


.manPage
    margin: 32px auto;
    width: 960px;


    &__title
        color: $manPage-title-color;
        margin: 32px 0;
