
$g_color_accent                 = rgb(252, 158, 94);
$g_color_background             = rgb(45, 53, 64);
$g_color_body                   = rgb(250, 250, 250);
$g_color_primary                = rgb(65, 77, 93);
$g_color_primary_text           = rgb(163, 167, 173)
$g_color_primary_text--active   = rgb(255, 255, 255)
$g_color_primary_text--darker   = mix($g_color_primary, $g_color_primary_text, 50%);
$g_color_primary_text--error    = rgb(138, 64, 48)
$g_color_primary_text--disabled = rgb(76, 91, 107)
$g_color_secondary              = rgb(55, 65, 77);
$g_color_secondary_text         = mix($g_color_background, $g_color_primary_text, 56%);
$g_color_tertiary               = shade($g_color_secondary, 18%);
$g_color_tertiary_text--darker  = mix($g_color_primary_text, $g_color_tertiary, 30%);
$g_color_text                   = rgb(68, 68, 68)
$g_color_text--light            = tint($g_color_text, 63%)

$g_mask_color_background = alpha($g_color_primary, 0.72);

// TODO: Use Images or borders everywhere!
$g_image_separator-2px-h = $g_config_images-path + '/separator-2px-h_v1.png';
$g_image_separator-2px-v = $g_config_images-path + '/separator-2px-v_v1.png';
$g_separator_color--dark  = rgb(57, 66, 78)
$g_separator_color--light = rgb(82, 93, 107)

// TODO Choose some generic name and use it.
$w_suggestionInput--expanded_border_color = shade($g_color_secondary, 18%);
