rupture.scale       = 0 320 480px 640px 800px 960px 1120px 1280px 1440px 1600px 1800px 1920px 2080px 2240px;
rupture.scale-names = 't' 'ts'  's'   'sm'  'm'   'mn'   'n'    'nl'   'l'    'lh'   'h'    'hf'   'f';


get-scale-index(scale-name)
    for list-item, i in rupture.scale-names
        if list-item is scale-name
            return i + 1
    return false

get-scale-value(scale-name)
    return rupture.scale[get-scale-index(scale-name)]


$g_size--l = 56px;
$g_size--n = 48px;
$g_size--s = 40px;

$g_transition_delay = 500ms;

$g_appPanel__header_height         = $g_size--l;
$g_appPanel-bar_height             = $g_size--n + 2; // 2px reserved for separator
$g_appPanel-footer_height          = $g_size--n;
$g_appPanel-head_height            = $g_appPanel__header_height;
$g_appPanel--sidebar-gutter_large  = $g_size--l;
$g_appPanel--sidebar-gutter_normal = $g_size--n;
$g_appPanel--sidebar-gutter_small  = $g_size--s;
$g_appPanel--sidebar-size_large    = 480px;
$g_appPanel--sidebar-size_normal   = 320px;
$g_appPanel--sidebar-size_small    = 320px;

// TODO Does it used anywhere now?!
// Container's sidebar dimensions.
$container-sidebar-gutter-width = 56px
$container-sidebar-panel-width  = 320px
$container-sidebar-width        = 376px

$g_font_family = 'Droid Sans', sans-serif;
$g_font_size   = 14px;

$g_z-index_appPanel-head            = 5000;
$g_z-index_appPanel-head-navigation = $g_z-index_appPanel-head + 500;
$g_z-index_appPanel-body            = $g_z-index_appPanel-head - 1000;
$g_z-index_appPanel-sidebar         = $g_z-index_appPanel-head + 1000;
$g_z-index_appPanel-flyouts         = $g_z-index_appPanel-sidebar + 100;
$g_z-index_app-image-viewer         = $g_z-index_appPanel-sidebar + 800;
$g_z-index_modal                    = $g_z-index_appPanel-sidebar + 1000;
