.nw-button
    background-color: transparent;
    border: 1px solid $g_color_primary_text;
    border-radius: 2px;
    color: $g_color_primary_text;
    display: inline-block;
    outline: none;
    margin-right: 8px;
    padding: 7px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s;
    vertical-align: middle;

    &:last-child
        margin-right: 0;


    &--disabled
        border-color: $g_color_primary_text--disabled;
        color: @border-color;


    &--flat
        border-color: transparent;
        padding-left: 16px;
        padding-right: 16px;

        &:hover
            color: $g_color_primary_text--active;


    // Must be defined before `--primary` or styles would broke.
    &--secondary
        border-style: dashed;
        color: $g_color_primary_text;


    &--primary
        background-color: $g_color_accent;
        border-color: $g_color_accent;
        color: $g_color_primary_text--active;
        text-shadow: -1px 1px 0 shade($g_color_accent, 9%);


    // TODO Does we need such variation?
    &--primary&--secondary
        border-color: alpha($g_color_primary_text--active, 0.72);
