@require '../button'


.nw-buttonGroup
    &--alignment_center
        //


    &--alignment_left
    &--alignment_right
        position: absolute;


    &--alignment_right
        right: 0;
        top: 0;
