// --
// -- Modules ------------------------------------------------------------------
// --

@import 'axis';
@import 'jeet';


// Reset/Normalize default styles across browsers.
normalize-css();
base();


// --
// -- Vars ---------------------------------------------------------------------
// --

@require './vars';
@require './vendor';
@require './base';
@require './mixins';
@require './icons';


// --
// -- Fonts---------------------------------------------------------------------
// --

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');


// --
// -- Styles -------------------------------------------------------------------
// --

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after
    box-sizing: inherit;


html
    box-sizing: border-box;


body
    font-family: $g_font_family;
    font-size: $g_font_size;


@require './widgets';
