.nw-checkboxGroupInput-item
    nw-groupInput-item: 'nw-checkboxGroupInput-item';


    &--disabled
        opacity: 0.32;


    &--widget_button&--checked
        // background-color: $group-input-active-item-background-color;
        // box-shadow: inset 0 0 2px alpha(#000, .15);   // TODO: Extract


    &--widget_icon &__label
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;

        &:before
            sprite($icon_checkbox);


    &--widget_icon&--checked &__label:before
        sprite($icon_checkbox_checked);
