.example-section
    margin-bottom: 16px;
    padding-bottom: 8px;


    &:last-child
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 0;


    &__body
        //


    &__title
        margin-bottom: 8px;


    &--separated
        border-bottom: 1px solid $g_separator_color--light;
