// Produces styles for widget. Can be called directly, see below, or used as
// mixin, see `.nw-groupInput-item` bellow for example.
nw-groupInput-item(bem = 'nw-groupInput-item')
    &__label
        cursor: pointer;
        display: inline-block;
        transition: color .3s;

        &:hover
            // color: $group-input-hovered-item-color;


    &__errors
        color: $g_color_primary_text--error;
        font-size: 12px;
        list-style: none;
        margin: 0;
        padding: 0 0 0 8px;


    &--checked
        // color: $group-input-hovered-item-color;

    &--checked &__label
        cursor: default;


    &--disabled &__label
        cursor: default;
        transition: none;

        &:hover
            color: inherit;


    &--labelShrinked
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;


    &--widget_button &__label
        display: block;
        padding: 0 8px;


    // TODO Move to checkbox-group-item?
    &--widget_button&--cns_checkboxGroupInput-item&--checked
        background-color: $group-input-active-item-background-color;
        box-shadow: inset 0 0 2px alpha(#000, .15);   // TODO: Extract


    &--widget_icon
        margin-bottom: 0;


    &--widget_icon &__label
        padding-left: 26px;
        position: relative;

        input
            display: none;

        &:before
            content: " ";
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);


    // TODO Move to checkbox-group-item?
    &--widget_icon&--cns_checkboxGroupInput-item &__label
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;


    // TODO Move to checkbox-group-item?
    &--widget_icon&--cns_checkboxGroupInput-item &__label:before
        sprite($icon_checkbox)

    // TODO Move to checkbox-group-item?
    &--widget_icon&--cns_checkboxGroupInput-item&--checked &__label:before
        sprite($icon_checkbox_checked)


    // TODO Move to checkbox-group-item?
    &--cns_checkboxGroupInput-item&--disabled
        opacity: 0.32;


.nw-groupInput-item
    nw-groupInput-item: '';
