.nw-checkboxInput
    nw-checkableInput: 'nw-checkboxInput';


    &--widget_icon &__label:before
        sprite($icon_checkbox);

    &--widget_icon&--checked &__label:before
        sprite($icon_checkbox_checked);
