$nw_textInput_backgroundColor = darken($g_color_background, 8%);
$nw_textInput_height          = $g_size--s;


@require './action';


.nw-textInput
    background-color: $nw_textInput_backgroundColor;
    border: 1px solid $g_color_secondary;
    border-radius: 2px;
    display: flex;
    position: relative;


    &__actions
        display: flex;


    &__busy
        color: $g_color_primary_text;
        display: none;
        font-size: $g_font_size;
        opacity: 0;
        position: absolute;
        right: 8px;
        top: ceil(($nw_textInput_height - $g_font_size) / 2px);
        transition: opacity 0.5s;


    &__errors
        color: $g_color_primary_text--error;
        list-style: none;
        margin: 0;
        padding: 2px 0 0 0;


    &__input
        +placeholder()
            color: blend(alpha($g_color_primary_text, .15), $g_color_secondary);

        background-color: $nw_textInput_backgroundColor;
        border: none;
        color: $g_color_primary_text;
        line-height: 36px;
        max-width: 100%;
        min-height: $g_size--s;
        min-width: 100%;
        outline: none;
        padding: 1px 12px;
        width: 100%;

        &:focus
            color: $g_color_primary_text--active;


    &__inputContainer
        flex: auto;


    &--busy &__busy
        display: block;
        opacity: 0.36;


    &--disabled &__input
        opacity: 0.45;


    &--invalid &__input
        border-color: $g_color_primary_text--error;


    &--multiLine &__input
        line-height: 1.63;
        min-height: 128px;
        padding-bottom: 8px;
        padding-top: 8px;


    &--size_large &__input
        //

        
    &--size_normal &__input
        //


    &--size_small &__input
        line-height: 28px;


    &--textAlignment_center &__input
        text-align: center;


    &--textAlignment_left &__input
        text-align: left;


    &--textAlignment_right &__input
        text-align: right;
