$nw-form_border = 1px solid $g_color_secondary;


.nw-form
    border: $nw-form_border;
    border-radius: 2px;
    border-top-width: 4px;
    padding-top: 24px;


    &__buttons
        border-top: $nw-form_border;
        padding: 8px 16px;


    &__fields
        padding: 16px;


    &__title
        color: $g_color_primary_text--darker;
        font-size: 20px;
        font-weight: bold;
        padding: 0 16px 24px;
        text-align: center;
        text-transform: uppercase;
