placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder   /* Firefox 18- */
        {block}
    &::-moz-placeholder  /* Firefox 19+ */
        {block}
    &:-ms-input-placeholder
        {block}


placeholder-color(color)
    &::-webkit-input-placeholder
        color color !important
    &:-moz-placeholder   /* Firefox 18- */
        color color !important
    &::-moz-placeholder  /* Firefox 19+ */
        color color !important
    &:-ms-input-placeholder
        color color !important
